<!doctype html>
<html>

<head>
  <title>My Book Of Shadows</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nova+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1 class="mainTitle"></span>My Book Of Shadows</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION  -->
      <div class="col-sm-6">
        <div class="well">

          <h2 class="formTitle">Add A New Work To Your Book</h2>

          <form action="/spells" class="spellForm" method="POST">
            <!--this is where I want people to be able to input a new ingredient for their spellbook-->
          
            <!--this is the dropdown menu HTML code that shows different spells the person can use-->
            <label for="spell-types">Pick Your Conjure Category:</label>

            <select name="spellType" id="spellType">
              <option value="love">Love</option>
              <option value="money">Money</option>
              <option value="legal">Legal</option>
              <option value="domination">Domination</option>
            </select>


            <input type="text" placeholder="what's the name of your work?" name="spellName" class="nameOfSpell">
            <textarea name="ingredients" placeholder="what ingredients will you need?" class="nameOfIngredients"></textarea>
            
            
            <textarea name="ritual" placeholder="what steps will you take to complete your work?" class="steps"></textarea>
            <button type="submit">Submit My Entry</button>

          </form>

        </div>
      </div>

      <!--this is where the spells are displayed-->
      <div class="col-sm-6">
        <h3 class="entryTitle">Previous Entries</h3>
      
        
  

        <ul class="spells">
          <% for(var i=0; i<spells.length; i++) {%>
            
            
              <li class="message">

                <h4>Conjure Category</h4>
                <p class="answers">
                  <%= spells[i].spellType %>
                </p>

                <h4>Spell Name</h4>
                <p class="answers">
                  <%= spells[i].spellName %>
                </p>

                <h4>Ingredients</h4>
                <p class="answers"><%= spells[i].ingredients %></p>

                <h4>Instructions</h4>
                <p class="answers">
                  <%= spells[i].ritual %>
                </p>
                
                <button class="theOnes" onclick="edit('<%= spells[i]._id %>')">Edit My Spell</button>

                <button onclick="deleted('<%= spells[i]._id %>')">Delete & Start Over</button>
              
              </li>
            <% } %>
        </ul>
            
       <!--area for naming spell
      area for typing out the recipe/ritual
    submit button-->

     
      </div>
  

    </div>

    <script src="main.js"></script>

</body>

</html>